<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="Responsive business site template" />
<meta name="keywords" content="company,services,responsive,subscribe,business,marketing,corporate,ipad,iphone,site template"/>
<meta name="author" content="Tansh" />
<title>Cloud Yazılım :: Tema Sistemi</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

</head>
<body>
<table border="1">
	<tr>
		<td>{BASLIK}</td>
		<td><hr></td>
		<td>{ICERIK}</td>
	</tr>
</table>
	
	
	
</body>
</html>
